.backdrop {
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
  position: relative;
}

.backdrop img {
  width: 1450px;
  height: 700px;
  object-fit: cover;
  object-position: center;
  filter: brightness(50%);
  border-radius: 15px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  padding: 20px;
  z-index: 1;
}

.poster {
  position: absolute;
  top: 75px;
  left: 75px;
  z-index: 10;
}

.posterImage {
  width: 400px;
  height: auto;
  border-radius: 15px;
}

.textContainer {
  position: absolute;
  top: 75px;
  left: calc(75px + 400px);
  padding: 50px;
  color: white;
  border-radius: 10px;
  z-index: 5;
}

.link {
  padding-left: 50px;
  font-weight: 600;
  color: black;
  &:hover {
    color: hotpink;
  }
}

.additionalInfo {
  margin: 20px;
  padding: 20px;
  background-color: #ffe4e1;
  border-radius: 10px;
  text-align: left;
}

.heading {
  font-size: 1.5rem;
  margin: 0;
  margin-bottom: 10px;
  color: #ff69b4;
}

.navlink {
  display: inline-block;
  margin-right: 15px;
  padding: 10px 20px;
  font-size: 1rem;
  color: #ff69b4;
  text-decoration: none;
  background-color: #fff0f5;
  border: 2px solid #ff69b4;
  border-radius: 8px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.navlink:hover {
  background-color: #ff69b4;
  color: white;
}

.activeLink {
  background-color: #ff69b4;
  color: white;
  border-color: #ff69b4;
}
